node_modules
.turbo
dist
build
.env
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
pnpm-debug.log
coverage
.cache
.next
.out
*.log
*.tsbuildinfo
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local 
pnpm-lock.yaml
yarn.lock
package-lock.json